.products {
    display: flex;
    flex-direction: row;
}

.product {
    width: 18%;
    height: 50px;
    background-color: rgb(175, 190, 246);
    border: 1px dotted rgb(104, 135, 238);
    border-radius: 1.5rem;
    padding: 1rem;
    padding-bottom: 1rem;
    margin: 0.5rem;

}