.locations {
    display: flex;
    flex-direction: column;
}

.location {
    background-color: rgb(175, 190, 246);
    border: 1px dotted rgb(104, 135, 238);
    border-radius: 1.5rem;
    padding: 0.7rem;
    margin: 0.5rem;
}